<!-- http://picture.responsiveimages.org/ -->


{% if include.figcaption %}
  {% assign figcaption = include.figcaption %}
{% else %}
  {% assign figcaption = include.title %}
{% endif %}

<figure>
  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(max-width: 30em" srcset="{{ site.url}}/{{ site.images}}/{{ include.mobile }}, {{ site.url}}/{{ site.images}}/{{ include.tablet }} 2x">
    <source media="(max-width: 80em" srcset="{{ site.url}}/{{ site.images}}/{{ include.tablet }}">
    <!--[if IE 9]></video><![endif]-->
    <img src="{{ site.url}}/{{ site.images}}/{{ include.desktop }}" alt="{{ include.title }}">
  </picture>
  
  <figcaption>{{ figcaption }}</figcaption>
</figure>