@mixin timeline {
  @include block;
  @include hide-title;
  
  
  #internet-applications-timeline {
    @include timeline-internet-applications;
  }
  
  
  article.timeline {
    margin-bottom: row(1);
    
    .text, .date, .title {
      @include container;
      @include typographic-elements;
    }
    
    .date {
      color: $red;
      border-bottom: 1px solid;
      margin: $gutter/2 0;
      
      cursor: pointer;
      
      &:after {
        content: '+';
        display: inline-block;
        
        float: right;
        position: relative;
        left: col(1);
        
        @include below-normal-screen {
          left: $gutter;
        }
      }
    }
    
    aside {
      article, section {
        display: none;
        
        &.excerpt {
          display: block;
        }
      }
    }
    
    &.active {
      .date {
        &:after {
          content: '\00d7';
        }
      }
      
      aside {
        article, section {
          display: block;
        }
      }
    }
    
    
    
    h1 {
      font-size: $heading-level-1;
      line-height: 1.25;
      margin-bottom: $gutter;
    }
    
    aside {
      @include hide-title;
      
      .article {
        margin-bottom: $gutter;
        
        &.text {
          h3 {
            font-style: italic;
            font-size: larger;
            @include color($grey);
          }
          
          &:first-of-type {
            @include hide-title;
          }
        }
        
        &.image {
          @include container;
          @include hide-title;

          figure {
            @include figure;
            display: none;
            
            &#the-first-website {
              picture img {
                background: black;
              }
            }
          }
        }
        
        &.full-width {
          @include block;
          padding-left: 0;
          padding-right: 0;
          
          figure {
            img {
              width: 100%;
            }
            
            figcaption {
              @include container;
            }
          }
        }
      }
    }
  }
}