@mixin timeline {
  @include block;
  
  article.timeline {
    @include font(body);
    @include typographic-elements;
    margin-bottom: row(1);
    
    h1 {
      font-size: $heading-level-1;
      margin-bottom: $gutter;
    }
    
    article.article {
      margin-bottom: $gutter;
    }
  }
}