@mixin timeline {
  @include block;
  @include hide-title;
  
  article.timeline {
    margin-bottom: row(1);
    
    .text, .date, .title {
      @include container;
      @include typographic-elements;
    }
    
    
    h1 {
      font-size: $heading-level-1;
      margin-bottom: $gutter;
    }
    
    aside {
      @include hide-title;
      
      .article {
        margin-bottom: $gutter;
        
        h3 {
          font-size: $heading-level-1;
          @include color($grey);
        }
        
        &.image {
          @include container;

          figure {
            @include figure;
          }
        }
      }
    }
  }
}