<!DOCTYPE html>
<html lang="en" class="{% include atoms/classname.html title=page.title %} {{ page.layout }}">
  <head>
    <meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="author" href="humans.txt" />
    
    <title>{{ page.title | strip_html }}</title> 
    
    <!-- Compass with SASS -->
  	<link href="{{ site.url }}/assets/styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <!-- IE 9 -->
    {% include ie.html %}
    
    <!-- Picturefill Responsive Images -->
    <script async src="{{ site.url }}/assets/scripts/picturefill.min.js"></script>
  </head>
  
  <body>
    
    
