{% assign title = include.title %}
{% assign link = include.link %}


<figure>
  {% if link != "" %}
    <a href="{{ link }}" title="{{ title }}">
  {% endif %}

  <div class="image-placeholder" data-picture data-alt="{{ title }}">
    <div data-src="{{ site.url }}{{ include.normal }}"></div>
    <div data-src="{{ site.url }}{{ include.mobile }}" data-media="(max-width: 599px)"></div>
    <noscript>
      <img src="{{ site.url }}{{ include.normal }}" alt="{{ title }}">
    </noscript>
  </div>
    
  {% if link != '' %}
    </a>
  {% endif %}
  
  <figcaption>
    {% if link != "" %}
      <a href="{{ link }}" title="{{ title }}">
    {% endif %}
    {{ title }}
    {% if link != '' %}
      </a>
    {% endif %}
  </figcaption>
</figure>
