---
layout: default
title: Tim Berners-Lee invented the web
people:
  - name: Tim Berners-Lee
    url: http://www.w3.org/People/Berners-Lee/
    twitter: timberners_lee
inventions: Text browser
technology: HTML
cont: Structure
tags: www, HTTP, HTML, Open source
sources:
  - url: http://wwwmcc.murdoch.edu.au/ReadingRoom/VID/jfk/timeline.htm
    title: The Internet Timeline
  - url: http://info.cern.ch/
    title: The Home of The First Website
---


<article class="article excerpt text">
  <h3>Invention</h3>
  
  <p>
    At age 34 Sir Timothy Berners-Lee&mdash;<abbr>TimBL</abbr> on the net&mdash;invents the world wide web as we know today.
  </p>

  <p>
    Between 1989-1994 he and his team at <abbr>CERN</abbr> (an European organization for research) created the first website together with the first web server.
  </p>

  <p>
    Technologies used in his invention&mdash;<abbr>HTTP</abbr>&mdash;Hypertext Transfer Protocol and <abbr>HTML</abbr>&mdash;Hypertext Markup Language&mdash;are still the foundations of every website today.
  </p>
</article>

<article class="article first-website image">
  <h3>First Website</h3>
  
  {% include atoms/picture.html title="The first website" link="" desktop="the-first-website.png" tablet="the-first-website-portrait.png" mobile="the-first-website-portrait-small.png "%}
</article>

<article class="article text">
  <h3>Internet is not just web</h3>
  
  <p>
    The internet was a lively place even before the web.
  </p>

  <p>
    People built communities via {% include atoms/link.html url="http://en.wikipedia.org/wiki/Bulletin_board_system" title="Bulletin Board System" text="Bulletin Board Systems (<abbr>BBS</abbr>)" %}, they were participating in forums and newsgroups with {% include atoms/link.html url="http://en.wikipedia.org/wiki/Usenet" title="usenet" text="Usenet" %}, exchanging emails and files via technologies which still exists today: <abbr>SMTP</abbr> and <abbr>FTP</abbr>.
  </p>
  
  <p>
    The web is another layer on the internet which become so popular people tend to mix up with the internet itself.  
  </p>
</article>


<article class="article image">
  <h3>A BBS</h3>
  
  {% include atoms/picture.html title="A modern BBS still running today" link="" desktop="bbs.png" tablet="bbs-portrait.png" mobile="bbs-portrait-small.png"%}
  
  {% include atoms/picture.html title="Reading news and messages" link="" desktop="email-pine.png" tablet="email-pine-portrait.png" mobile="email-pine-portrait-small.png"%}
</article>


<article class="article text">
  <h3>Web is Links</h3>
  
  <p>
    The web breakthrough with links. By clicking from a website to another the World Wide Web became a network where discovery and participation was in the same way easy.
  </p>
  
  <p>
    The &ldquo;dumb&rdquo; terminal browser made room for graphical browsers for a pleasant visualisation of websites. Visual web content editors enabled non-scientist adding content to the web. Bloom.
  </p>
</article>
  
<article class="article text">
  <h3>Openness is growth</h3>
  <p>
    This was the time when <abbr>CERN</abbr> made a bold move: they've released the World Wide Web source code to Public Domain. Now everybody on the world could contribute to the progress of the web and make sure it will stay open.
  </p>
  
  <p>
    In five years the web grew over 10,000 servers and 10 million users including commercial players. The success was inevitable.
  </p>
</article>

