---
layout: default
title: Jakob Nielsen starts User Experience and Usability Research
people:
  - name: Jakob Nielsen
inventions: Usability
technology: UX
cont: Usability
tags: User Interface Design, Usability, Human-Computer Interaction
---

<article class="article text">
  <h3>World Wild Web</h3>
  
  <p>
    Unlike Eric "The King of CSS" Mayer, Jakob Nielsen a Danish researcher coined later as "The King of Usability" has a highly visible public so {% include atoms/link.html url="http://www.dourish.com/nielsen.html" title="Hacking Jakob Nielsen" text="controversial" %} profile.
  </p>
  
  <p>
    While other pioneers were working on the web infrastructure&mdash;the browser, structuring (HTML) and styling (CSS) content&mdash; Nielsen started to think with the readers and users mind. 
  </p>
  
  <p>
    In the first years the World Wild Web looks funny; there were no web designers, web developers, user experience engineers but sysadmins and webmasters. With computer science background these gatekeepers of the web often came up with ... strange visual solutions. 
  </p>
</article>

<article class="article image">
  <h3>Early web design</h3>
</article>

<article class="article text">
  <h3>Human-Computer Interaction</h3>
  
  <p>
    In this scene appears a young scientist fluent in Human-Computer Interactions with strong support from an IT giant, Sun Microsystems.
  </p>
  <blockquote>
    You're supposed to be the world's leading expert in your field, so you figure out what would be most important for the company for you to work on.
  </blockquote>
  <p class="blockquote-source">
    {% include atoms/link.html url="http://www.nngroup.com/people/jakob-nielsen/" title="Jacob Nielsen's Bio" text="Jacob Nielsen's Bio" %}
  </p>
  
  <p>
    Nielsen started to research what makes websites work, how to deliver the message in this new medium. He was not focused on graphic design&mdash;typography, layout, colors, icons, etc.&mdash; but on how to influence visitors' behaviour in such way to achieve a goal like clicking a button.
  </p>
  
  <p>
    His results are de-facto standard in today's web user interface design: {% include atoms/link.html url="http://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/" title="F-Shaped Pattern For Reading Web Content" text="F-Shaped Pattern For Reading Web Content" %}, {% include atoms/link.html url="http://www.nngroup.com/articles/113-design-guidelines-homepage-usability/" title="Design Guidelines for Homepage Usability" text="Design Guidelines for Homepage Usability" %} and {% include atoms/link.html url="http://www.nngroup.com/articles/ten-usability-heuristics/" title="10 Usability Heuristics for User Interface Design" text="10 Usability Heuristics for User Interface Design" %}.
  </p>
  
  <p>
    He concludes <q>visitors can focus on five things on a single page</q> and identifies these focus points as Identity, Offer, Values, Action and Entertainment.
  </p>
  
  <p>
    Well designed pages today follows these rules. You don't have to wonder why sometimes you are getting excited to add things in your shopping cart.
  </p>
</article>