<section id="timeline">
  <h3>Timeline</h3>
  
  {% for post in site.posts reversed %}
    {% include organisms/timeline.html %}
  {% endfor %}
  
  <br>
  <hr>
  <br>
  
  {% assign groups = site.posts | group_by: 'technology' %}
  {% assign order = "HTML,UX,CSS,Flash,Photoshop,CMS,Blog,Social,Theming" | split: ',' %}
  
  {% for o in order %}
    {% for group in groups %}
      {% if group.name == o %}
        <h2>{{ group.name }}</h2>
        {% for post in group.items reversed %}
          {% include organisms/timeline.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  
  <br>
  <hr>
  <br>
  
  {% assign groups = site.posts | group_by: 'cont' %}
  {% assign order = "Structure,Usability,Basic styling,Animation,Graphics,Management,Self Publicihing,Streaming,Presentation" | split: ',' %}
  
  {% for o in order %}
    {% for group in groups %}
      {% if group.name == o %}
        <h2>{{ group.name }}</h2>
        {% for post in group.items reversed %}
          {% include organisms/timeline.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  
  <br>
  <hr>
  <br>
  
  <ul>
  {% for post in site.posts reversed %}
    {% for person in post.people %}
      <li>{{ person.name }}</li>
    {% endfor %}
  {% endfor %}
  </ul>
  
</section>
