html body { font-size: 100%; line-height: 1.25; }
@media only screen and (max-width: 47.999em) { html body { font-size: 87.5%; } }
@media only screen and (min-width: 90.001em) { html body { font-size: 125%; } }
