$background: white;
$color: hsla(269, 85%, 5%, 1);

$grey: hsla(269, 5%, 85%, 1);
$gray: $grey;

$red: hsla(0, 85%, 55%, 1);

// from the mandala
$highlight: #98BDDC;


@mixin color($fore: $color, $back: $background) {
  color: $fore;
  background: $back;
}