@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Old+Standard+TT:400,400italic,700);

// Font familes
$serif: 'Old Standard TT', serif;
$sans-serif: 'Lato', sans-serif;


// Heading sizes
// - based on lamb.cc/typography using Fibonacci numbers
$heading-level-1: 1.6154em;
$heading-level-2: 2.6154em;
$heading-level-3: 4.2308em;



// Mixins
@mixin font($type: body) {
  @if ($type == body) {
    @include font-body;
  
  } @elseif ($type == title) {
    @include font-title;
  
  } 
}


@mixin font-title {
  font-family: $serif;
  font-style: italic;
  font-weight: 700;
}

@mixin font-body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: $heading-level-2;
}
