/*

- Rammetto+One|Wire+One   || Gruppo
- Bowlby+One+SC|Oswald:300
- Averia+Serif+Libre
- Concerta+One

*/





@import url(http://fonts.googleapis.com/css?family=Rammetto+One|Wire+One|Lato:300);


// Font familes
@mixin font($type) {
  @if ($type == title) {
    font-family: "Rammetto One";
  
  } @elseif ($type == subtitle) {
    font-family: 'Wire One';
  
  } @elseif ($type == body) {
    font-family: 'Lato';
  }
}