

// Heading sizes
// - based on lamb.cc/typography using Fibonacci numbers
$heading-level-1: 1.6154em;
$heading-level-2: 2.6154em;
$heading-level-3: 4.2308em;
$heading-level-4: 6.8462em;


@mixin h1 {
  font-size: $heading-level-3;
    
  @include below-tablet {
    font-size: $heading-level-2;  
  } 
  
  @include large-screen-and-up {
    font-size: $heading-level-4;  
  }
}

@mixin h2 {
  font-size: $heading-level-2;
    
  @include below-tablet {
    font-size: $heading-level-1;  
  } 
  
  @include large-screen-and-up {
    font-size: $heading-level-3;  
  }
}


@mixin h4 {
  font-weight: bold;
}



// Common elements

@mixin p {
  p {
    + p {
      margin-top: $gutter;
    }
  }
}

@mixin abbr {
  abbr {
    font-variant: small-caps;
    letter-spacing: $gutter/16;
    font-size: smaller;
  }
}


@mixin blockquote {
  blockquote {
    font-style: italic;
    letter-spacing: $gutter/16;
    
    margin-top: $gutter;
    margin-bottom: $gutter;
    
    .blockquote-source {
      font-style: normal;
      letter-spacing: normal;
      
      &:before {
        content: '\2012';
      }
    }
    
    p {
      margin-left: $gutter;
    }
  }
}

@mixin q {
  q {
    font-style: italic;
    letter-spacing: $gutter/16;
  }
}