

// Heading sizes
// - based on lamb.cc/typography using Fibonacci numbers
$heading-level-1: 1.6154em;
$heading-level-2: 2.6154em;
$heading-level-3: 4.2308em;
$heading-level-4: 6.8462em;


@mixin h1 {
  font-size: $heading-level-3;
    
  @include below-tablet {
    font-size: $heading-level-2;  
  } 
  
  @include large-screen-and-up {
    font-size: $heading-level-4;  
  }
}

@mixin h2 {
  font-size: $heading-level-2;
    
  @include below-tablet {
    font-size: $heading-level-1;  
  } 
  
  @include large-screen-and-up {
    font-size: $heading-level-3;  
  }
}
