@mixin header {
  $size: $gutter * 8;
  
  position: absolute;
  z-index: 1;
  top: row(1);
  left: col(1);
  height: row(2);
  max-width: col(3);
  
  #logo {
    @include logo($size);
  }
  
  h1 {
    @include font-csongor;
    @include link($highlight, transparent);
  }
}

