@mixin header {
  @include block;
  
  @include font(title);
  font-weight: 700;
  
  #logo {
    @include logo($gutter * 6);
    @include center(horizontal);
    
    position: fixed;
    margin: $gutter 0;
  }
}

