@mixin title {
  @include block;
  overflow: hidden;
  @include title-height;
  
  background: #fff;
  color: #000;
  
  article {
    @include block;
    @include title-position;
    
    h1 {
      @include font(title);
      font-size: $heading-level-1;
      
      span {
        @include font(subtitle);
        display: block;
      }
    }
    
    aside {
      figure {
        figcaption {
          display: none;
        }
      }
    }
  }
}


@mixin title-height {
  padding-bottom: row(2);
}



@mixin title-position {
  margin-top: row(2);
  margin-left: col(1);
  
  @include below-tablet {
    margin-left: col(.5);
  }
  
  position: relative;
  
  h1 {
    position: relative;
    z-index: 1;
  }
  
  aside {
    position: absolute;
    top: row(-1);
    
    @include below-tablet {
      top: 0;
    }
    
    @include normal-screen {
      top: row(-3);
      left: col(2);
    }
    
    @include large-screen-and-up {
      left: col(3);
      top: row(-3);
    }
  }
}